body{
    text-align: center;
}
#video{
    width:100%;
    height:500px;
    border: none;
}
.linea{
    height: 6px;
    width: 60px;
    background-color: bisque;
    margin: 8px auto;
}
.main{
    border: 1px solid lightgray;
}
.main img{
    width: 100%;
}
.main h5,.main p{
    margin: 20px;
}
